.exp-item {
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav-link:hover, .nav-link:focus {
  color: var(--bs-primary);
}

.nav-item .nav-link {
  color: rgba(50,50,50,0.5);
}

.scrollable-column {
  max-height: 90vh;
  overflow-y: auto;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: gold;
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

.course-title {
  margin-left: 0;
  padding-left: 0;
}

.course-description {
  margin-left: 1em;
  margin-bottom: 1em;
}

